<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %> 
    <main>
        <% if (errorMessage) {%>
            <div class="user-message user-message--error">
                <%= errorMessage %>
            </div>
        <% } %>
        <form 
            class="product-form" 
            action="/admin/<% if (editing) { %>edit-product <% } else { %>add-product <% } %>" method="POST"
            enctype="multipart/form-data"
            >
            <div class="form-control">
                <label for="title">Title</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'title') ? 'invaild' : '' %>"
                    type="text" 
                    name="title" 
                    id="title" 
                    value="<%if (editing || isError ) { %> <%= product.title %> <% } %>"
                    >
            </div>
            <!-- <div class="form-control">
                <label for="img">Image</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'img') ? 'invaild' : '' %>"
                    type="text" 
                    name="img" 
                    id="img" 
                    value="<%if (editing || isError ) { %> <%= product.img %> <% } %>"
                    >
            </div> -->
            <div class="form-control">
                <label for="img">Image</label>
                <input 
                    type="file" 
                    name="img" 
                    id="img" 
                    >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'price') ? 'invaild' : '' %>"
                    type="text" 
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<% if (editing || isError ) { %> <%=product.price %> <% } %>"
                    >
            </div>
            <div class="form-control">
                <label for="description">description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invaild' : '' %>"
                    type="text" 
                    row="10" 
                    name="description" 
                    id="description"
                    >
                    <% if (editing || isError ) { %> <%= product.description %> <% } %>
                </textarea>
            </div>
            <% if (editing) {%>
                <input type="hidden" name="productId" value="<%= product._id %>">
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %> Update Prouduct <%} else {%> Add Product<% } %></button>
        </form>
    </main>
<%- include('../includes/foot.ejs') %>
