<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1>Cart Page!</h1>
        <% if (products.length > 0) { %>
            <ul>
                <% products.forEach((p) => { %>
                   <p>
                        <li><%= p.productId.title%>(<%= p.quantity %>)</li>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= p.productId._id%>">
                            <button type="submit" class="btn">DELETE</button>
                        </form>
                   </p>
                <% }) %>
            </ul>
            <hr>
            <form action="/create-order" method="POST">
                <button class="btn" type="submit">Order</button>
            </form>
        <% } else { %>
            <h2>No Product in the Cart</h2>
        <% } %>
    </main>
<%- include('../includes/foot.ejs') %>